.titlecard {
	display: none;
}

.widget-titlecard {
	display: none;
}

.minimap {
	display: none;
}

.image-header {
	display: none;
}

.widget-image-header-close {
	display: none;
}

.widget-scene-canvas {
}

.app-viewcard-strip {
	display: none;
}

.scene-footer {
	display: none;
}

.widget-image-header-scrim {
	display: none;
}

.watermark { 
	display: none;
}

#titlecard {
	display: none;
}

#leaflet-container {
	width: 300px;
	height: 300px;
	position: absolute;
	right: 30px;
	bottom: 30px;
}

#leaflet-map {
	width: 100%;
	height: calc(100% - 30px);
}

#round-info-container {
	width: 400px;
	height: 100px;
	position: absolute;
	right: 30px;
	top: 30px;
	text-align: right;
}

#compass-container {
	width: 200px;
	height: 100px;
	position: absolute;
	left: 30px;
	top: 30px;
	text-align: left;
}

#navigation-bar {
	height: 30px;
}

.round-info-span {
	color: white;
	font-size: 25px;
	text-shadow: 2px 2px black;
	font-weight: bold;
}
